<h2 class='title'>About MK Essentials</h2>
<p>
  The idea for MK Essentials came from my distaste of
  paying a minimum $15 shipping to Canada when purchasing
  any keyboard item
</p>
<P>
  I wanted to offer Canadians a chance to buy components
  for building keyboards and have them shipped for a reasonable
  rate and in a reasonable amount of time.
</P>