<div class='column is-one-third'>
  <div class="horse card">
    <div class='card-content'>
      <h5 class='title'>
        <%= link_to product.name.humanize, product %>
      </h5>
      <h3>Category id:
        <%= product.category_id %>
      </h3>
      <ul>
        <li>Price: <%= number_to_currency(product.price) %></li>
        <li>Description: <%= product.desc %></li>
      </ul>
    </div>
  </div>
</div>