<h3 class='title is-4'>All Products</h3>

  <div class='buttons'>
    <% @categories.each do |category| %>
      <%= link_to category.name, category, class: 'button is-link' %>
    <% end %>
  </div>
  <div class='columns'>
    <%= paginate @products %>
  </div>
  <div class="columns is-multiline">
    <%= render partial: '/products/product',
              collection: @products,
              locals: { name_is_link: true } %>
  </div>

