<p>
  Your search for '<%= @query %>' returned <%= pluralize(@productsearch.size, 'result')%>.
</p>

<div class='columns is-multiline'>
  <%= render partial: 'product',
          collection: @productsearch,
          locals: { name_is_link: true } %>
</div>